{% extends 'base.html' %}

{% block body %}
<div class="container-fluid col-sm-4 col-md-8 my-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form id="post-form" method="post" action="check_room">
                {% csrf_token %}

                <h5 class="card-title">New Chat</h5>
                <div class="mb-3">
                    <label for="roomname" class="form-label">Room Name</label>
                    <input type="text" name="room_name" class="form-control" id="room_name" placeholder="Enter the Room Name / Number">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                </div>
                <input type="submit" class="btn btn-sm btn-primary" value="Chat Now">
            </form>
        </div>
    </div>
</div>
{% endblock body %}