{% extends 'base.html' %}

{% block body %}
<div class="container-fluid col-sm-4 col-md-4 my-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Group : {{ room|upper }} </h5>
            <div class="container" style="min-height: 430px;">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <div id="display"></div>

                    </ul>
                </div>
            </div>
            <form id="post-form">
                {% csrf_token %}
                <div class="mb-7">
                    <label for="roomname" class="form-label">Enter Message</label>
                    <input hidden name="username" id="username" value="{{username}}" />
                    <input hidden name="room_id" id="room_id" value="{{room_details.id}}" />
                    <input type="text" name="message" class="form-control" id="message"
                        placeholder="Enter your message here">
                </div>
                <input type="submit" class="btn btn-sm btn-primary my-3" value="Send Message">
            </form>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
  
      $.ajax({
        type:'POST',
        url:'/send',
        data:{
            username:$('#username').val(),
            room_id:$('#room_id').val(),
            message:$('#message').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data){
           //alert(data)
        }
      });
      document.getElementById('message').value = ''
    });
  </script>

<script type="text/javascript">
    $(document).ready(function() {
        setInterval(function() {
            $.ajax({
                type: "GET",
                url: "/get-messages/{{room}}/",
                success: function(response) {
                    $("#display").empty();
                    for (var key in response.messages) {
                        var temp = `
                        <li class="list-group-item">
                            <div class="d-flex align-items-end">
                                <div>
                                    <span class="badge rounded-pill text-bg-success">
                                        `+response.messages[key].user+`</span>
                                </div>
                                <div>
                                    <p style="color: lightgrey">
                                        `+response.messages[key].date+`</p>
                                </div>
                            </div>

                            <div class="ml-auto col-auto">
                                <p>`
                                    +response.messages[key].value+`</p>
                            </div>
                        </li>
                        `;
                        $("#display").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },1000);
    })
</script>
{% endblock js %}